.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat";
  background-color: #000;
}

.box {
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 48px;
  background-color: #fff;
}

.button {
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat";
  color: #fff;
  background: #ff1e7c;
  background: linear-gradient(26deg, #ff1e7c 0%, #7265ee 100%);
}